# Logs
logs
*.log

# windows stuff
Thumbs.db
desktop.ini
.DS_Store

# netbeans meta data
nbproject

# sass cache directory
.sass-cache

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# copy of node_modules used by cordova (client)
vendor

# cordova builds
app/platforms

# cordova plugins
app/plugins